.wrapper{
    height: 4px;
    margin: -32px -32px 32px -32px;
}
.cyan > .wrapper{
    background-color: var(--cyan-color);
}
.red > .wrapper{
    background-color: var(--red-color);
}
.yellow > .wrapper{
    background-color: var(--yellow-color);
}
.blue > .wrapper{
    background-color: var(--blue-color);
}
.card{
    padding: var(--spacing400);
    overflow: hidden;
    width: 314px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 15px 30px -11px rgb(131, 166, 210);
    margin-bottom: var(--spacing400);
    margin-inline: auto;
}
/* Corrige le text-wrap du reset.css qui fait un retour à la ligne trop tot */
.card-p{
    color: var(--grey400-color);
    text-wrap: wrap;
}
img{
    margin-top: var(--spacing400);
    position: relative;
    margin-right: 0;
    margin-left: auto;
}