@import 'reset.css';
@import 'typo.css';
@import 'variable.css';
@layer reset, variable, typo;

html,body{
    height: 100vh;
    background-color: var(--white-color);
}
main{
    height: calc(100% - footer);
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}