@import 'reset.css';
@import 'typo.css';
@import 'component.css';
@import 'variable.css';
@import 'responsive.css';
@layer reset, variable, typo, component, responsive;

html,body{
    height: 100vh;
    background-color: var(--white-color);
    margin: 0;
    padding: 0;
}
main{
    margin: calc(var(--spacing500) + 1rem) var(--spacing400);
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.header-container{
    text-align: center;
    padding: 0;
    margin-bottom: var(--spacing500);
    margin-inline: auto;
    max-width: 512px;
}
.header-container,
.card-title{
    color: var(--grey500-color);
}
.header-title,
.header-p{
    margin-bottom: var(--spacing200);
}

