@import 'reset.css';
@import 'typo.css';
@import 'variable.css';
@layer reset, variable, typo;

html,body{
    height: 100vh;
    background-color: var(--white-color);
}
/* 100% - la hauteur du footer pour éviter d'avoir une barre de défilement verticale */
main{
    height: calc(100% - footer);
    margin: var(--spacing500);
}
.header-container{
    color: var(--grey500-color);
    text-align: center;
}